Repository DeveloperAcademy-POSTECH/MacC-Team-EarthValley80, pull requests merged in 2022-12, with the labels that each got.

#175 [CHORE] 새로운 요모조모 앱 아이콘을 적용했습니다.
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/AppIcon.appiconset/100.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/AppIcon.appiconset/1024.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/AppIcon.appiconset/114.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/AppIcon.appiconset/120.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/AppIcon.appiconset/144.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/AppIcon.appiconset/152.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/AppIcon.appiconset/167.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/AppIcon.appiconset/180.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/AppIcon.appiconset/20.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/AppIcon.appiconset/29.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/AppIcon.appiconset/40.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/AppIcon.appiconset/50.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/AppIcon.appiconset/57.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/AppIcon.appiconset/58.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/AppIcon.appiconset/60.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/AppIcon.appiconset/72.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/AppIcon.appiconset/76.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/AppIcon.appiconset/80.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/AppIcon.appiconset/87.png
Labels: 🖼 UI, ⚙ Setting, 🫶🏻 ASAP, 🍋 듀나

#177 [CHORE] 기존 요모의 방 가기 텍스트를 버튼으로 교체했습니다
  EarthValley80/EarthValley80.xcodeproj/project.pbxproj
  EarthValley80/EarthValley80/Global/Literals/StringLiteral.swift
  EarthValley80/EarthValley80/Global/UIComponent/GotoYomoRoomButton.swift
  EarthValley80/EarthValley80/Screen/SideTabbar/Components/InsideTabbarItemsView.swift
  EarthValley80/EarthValley80/Screen/YomoRoom/YomoRoomView.swift
Labels: ✨ Feature, 🛠 Chore, 🦭 잭, ▪️ Sidebar

#180 [ADD] 앱 시작할때 뜨는 런치 스크린을 만들었습니다. (feat. storyboard)
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/yomojomoLogo.imageset/Contents.json
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/yomojomoLogo.imageset/Group 526.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/yomojomoLogo.imageset/Group 526@2x.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/yomojomoLogo.imageset/Group 526@3x.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/yomojomoLogo.imageset/yomojomoLogo.svg
  EarthValley80/EarthValley80/Global/Resource/Storyboard/Base.lproj/LaunchScreen.storyboard
Labels: 🖼 UI, 🐻 브라운, ▪️ Launch Screen

#182 [FEAT] 현재 본 뉴스 기사를 공유하는 기능을 구현했습니다.
  EarthValley80/EarthValley80.xcodeproj/project.pbxproj
  EarthValley80/EarthValley80/Global/Literals/StringLiteral.swift
  EarthValley80/EarthValley80/Global/Supports/AppDelegate.swift
  EarthValley80/EarthValley80/Global/Supports/Info.plist
  EarthValley80/EarthValley80/Global/Supports/SceneDelegate.swift
  EarthValley80/EarthValley80/Global/Utils/DeeplinkCoordinator.swift
  EarthValley80/EarthValley80/Global/Utils/NewsDeeplinkHandler.swift
  EarthValley80/EarthValley80/Screen/News/ReactionViewController.swift
Labels: ✨ Feature, 🫶🏻 ASAP, ▪️ News, 🍋 듀나

#183 [FEAT] 요모조모 뉴스 뷰에서 일정 수준 스크롤해서 올리면, 자동으로 올라가는 기능을 구현했습니다.
  EarthValley80/EarthValley80.xcodeproj/project.pbxproj
  EarthValley80/EarthValley80/Screen/YomojomoNews/Manager/NewsSortingManager.swift
  EarthValley80/EarthValley80/Screen/YomojomoNews/YomojomoNewsViewController.swift
Labels: ✨ Feature, 🫶🏻 ASAP, ▪️ YomojomoNews, 🐻 브라운

#184 [CHORE] 뉴스서랍 Cell UI를 새로 바뀐 디자인으로 변경하였습니다.
  EarthValley80/EarthValley80.xcodeproj/project.pbxproj
  EarthValley80/EarthValley80/Global/Literals/StringLiteral.swift
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/tempEmoji.imageset/Contents.json
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/tempEmoji.imageset/tempEmoji.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/tempEmoji.imageset/tempEmoji@2x.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/tempEmoji.imageset/tempEmoji@3x.png
  EarthValley80/EarthValley80/Global/UIComponent/EmptySpaceCollectionViewCell.swift
  EarthValley80/EarthValley80/Screen/MyNews/Cells/MyNewsDrawerCollectionViewCell.swift
  EarthValley80/EarthValley80/Screen/MyNews/Cells/UserGoalAttainmentLottieCollectionViewCell.swift
  EarthValley80/EarthValley80/Screen/MyNews/Helper/LeftAlignCollectionViewFlowLayout.swift
  EarthValley80/EarthValley80/Screen/MyNewsDrawer/Cells/MyNewsDrawerCollectionViewCell.swift
  EarthValley80/EarthValley80/Screen/MyNewsDrawer/Components/SummaryPopupViewController.swift
  EarthValley80/EarthValley80/Screen/MyNewsDrawer/MyNewsDrawerViewController.swift
Labels: 🖼 UI, 🛠 Chore, 🫶🏻 ASAP, 🐻 브라운, ▪️ My News

#189 [FEAT] 관심사 선택 뷰 (SelectInterestViewController)를 구현했습니다.
  EarthValley80/EarthValley80/Global/Literals/ImageLiteral.swift
  EarthValley80/EarthValley80/Global/Literals/StringLiteral.swift
  EarthValley80/EarthValley80/Screen/SelectInterest/Components/CategoryShapeView.swift
  EarthValley80/EarthValley80/Screen/SelectInterest/SelectInterestViewController.swift
Labels: 🖼 UI, 🫶🏻 ASAP, 🐻 브라운, ▪️ Select Interests
