Repository DeveloperAcademy-POSTECH/MacC-Team-EarthValley80, pull requests merged in 2022-11, with the labels that each got.

#48 [ADD] GIF파일을 앱에다가 올릴 수 있도록 Lottie를 spm으로 설치했습니다.
  .github/workflows/builder.yml
  .gitignore
  EarthValley80/EarthValley80.xcodeproj/project.pbxproj
Labels: ✨ Feature, 🫶🏻 ASAP, 🐻 브라운

#33 [ADD] 사이드 탭바 레이아웃 생성했습니다.
  EarthValley80/EarthValley80.xcodeproj/project.pbxproj
  EarthValley80/EarthValley80/Global/SwiftUIExtensions/SwiftUI+Extension.swift
  EarthValley80/EarthValley80/Screen/SideTabbar/InsideTabbarItemsView.swift
  EarthValley80/EarthValley80/Screen/SideTabbar/SideTabbarView.swift
  EarthValley80/EarthValley80/Screen/SideTabbar/SideTabbarViewController.swift
  EarthValley80/EarthValley80/Screen/SideTabbar/TabbarButtonView.swift
Labels: ✨ Feature, 🖼 UI, 🫶🏻 ASAP, 🦭 잭

#51 [FEAT] 테이블 뷰가 스크롤될 시에 상단 헤더 모양이 변경되도록 구현했습니다.
  EarthValley80/EarthValley80/Global/Resource/Storyboard/News.storyboard
  EarthValley80/EarthValley80/Global/Utils/UIView+Constraints.swift
  EarthValley80/EarthValley80/Screen/News/Components/NewsTitleView.swift
  EarthValley80/EarthValley80/Screen/News/FiveWsAndOneHViewController.swift
  EarthValley80/EarthValley80/Screen/News/ReadingNewsViewController.swift
Labels: ✨ Feature, 🫶🏻 ASAP, ▪️ News, 🍋 듀나

#52 [ADD] 나의 뉴스 서랍, 단어장에서 공통으로 사용되는 Lottie와 모든 뷰에서 사용하는 Button Component를 생성했습니다.
  EarthValley80/EarthValley80.xcodeproj/project.pbxproj
  EarthValley80/EarthValley80/Global/Literals/ImageLiteral.swift
  EarthValley80/EarthValley80/Global/Literals/StringLiteral.swift
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/ico_news.imageset/Contents.json
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/ico_news.imageset/ico_news.png
  EarthValley80/EarthValley80/Global/Resource/Lottie/mp4TempFile.json
  EarthValley80/EarthValley80/Global/UIComponent/GotoSomewhereButton.swift
  EarthValley80/EarthValley80/Global/UIComponent/GotoYomojomoNewsEmptyView.swift
  EarthValley80/EarthValley80/Screen/MyNews/MyNewsViewController.swift
Labels: 🖼 UI, 🫶🏻 ASAP, ▪️ YomojomoNews, ▪️ My News Drawer, ▪️ News, 🐻 브라운, ▪️ Vocabulary Note

#58 [FEAT] 콘텐츠, 제목 뷰가 질문 뷰가 나타나면 폰트, 컬러, constraint를 변경하도록 구현했습니다.
  EarthValley80/EarthValley80.xcodeproj/project.pbxproj
  EarthValley80/EarthValley80/Global/Literals/StringLiteral.swift
  EarthValley80/EarthValley80/Global/Resource/Storyboard/News.storyboard
  EarthValley80/EarthValley80/Screen/News/Cells/NewsContentTableViewCell.swift
  EarthValley80/EarthValley80/Screen/News/Components/NewsTitleView.swift
  EarthValley80/EarthValley80/Screen/News/Components/QuestionView.swift
  EarthValley80/EarthValley80/Screen/News/FiveWsAndOneHViewController.swift
  EarthValley80/EarthValley80/Screen/News/ReadingNewsViewController.swift
  EarthValley80/EarthValley80/Screen/News/TitleInferringViewController.swift
Labels: ✨ Feature, 🖼 UI, 🫶🏻 ASAP, ▪️ News, 🍋 듀나

#60 [ADD] 가이드 뷰 내부 이미지, 텍스트의 레이아웃을 잡고 콘텐츠를 넣어줬습니다.
  EarthValley80/EarthValley80/Global/Extensions/UILabel+Extension.swift
  EarthValley80/EarthValley80/Global/Literals/ImageLiteral.swift
  EarthValley80/EarthValley80/Global/Literals/StringLiteral.swift
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/img_coach.imageset/Contents.json
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/img_coach.imageset/img_coach.pdf
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/img_coach1.imageset/Contents.json
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/img_coach1.imageset/img_coach1.pdf
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/img_coach2.imageset/Contents.json
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/img_coach2.imageset/img_coach2.pdf
  EarthValley80/EarthValley80/Screen/News/Components/GuidingView.swift
  EarthValley80/EarthValley80/Screen/News/NewsGuideViewController.swift
  EarthValley80/EarthValley80/Screen/News/ReadingNewsViewController.swift
Labels: 🙋‍♂️ Question, ✨ Feature, 🖼 UI, 🫶🏻 ASAP, ▪️ News, 🍋 듀나

#70 [DOCS] builder.yml 파일에서 clean하는 코드를 삭제합니다.
  .github/workflows/builder.yml
Labels: 🛠 Chore, 📲 CI, 📃 Docs, 🫶🏻 ASAP, 🍋 듀나

#66 [FEAT] 뉴스 뷰에서 제목 유추, 기사 읽기, 가이드보기, 육하원칙 답하기로 이어지는 플로우를 구현합니다.
  EarthValley80/EarthValley80.xcodeproj/project.pbxproj
  EarthValley80/EarthValley80/Global/Resource/Storyboard/News.storyboard
  EarthValley80/EarthValley80/Global/Utils/UserDefaultHandler.swift
  EarthValley80/EarthValley80/Global/Utils/UserDefaultStorage.swift
  EarthValley80/EarthValley80/Screen/News/Components/NextButton.swift
  EarthValley80/EarthValley80/Screen/News/Components/QuestionView.swift
  EarthValley80/EarthValley80/Screen/News/FiveWsAndOneHViewController.swift
  EarthValley80/EarthValley80/Screen/News/NewsGuideViewController.swift
  EarthValley80/EarthValley80/Screen/News/ReadingNewsViewController.swift
  EarthValley80/EarthValley80/Screen/News/TitleInferringViewController.swift
Labels: 🫶🏻 ASAP, ▪️ News, 🍋 듀나

#71 [FEAT] 나의 뉴스 서랍 CollectionView 사이사이에 Lottie를 추가하고, 터치하면 재생되게 구현하였습니다.
  EarthValley80/EarthValley80.xcodeproj/project.pbxproj
  EarthValley80/EarthValley80/Global/Manager/NewsSortingManager.swift
  EarthValley80/EarthValley80/Screen/MyNews/Cells/MyNewsDrawerCollectionViewCell.swift
  EarthValley80/EarthValley80/Screen/MyNews/Cells/UserGoalAttainmentLottieCollectionViewCell.swift
  EarthValley80/EarthValley80/Screen/MyNews/MyNewsDrawerViewController.swift
  EarthValley80/EarthValley80/Screen/YomojomoNews/Cells/EmptySpaceCollectionViewCell.swift
  EarthValley80/EarthValley80/Screen/YomojomoNews/Cells/YomojomoNewsTitleCollectionViewCell.swift
  EarthValley80/EarthValley80/Screen/YomojomoNews/YomojomoNewsViewController.swift
Labels: 🙋‍♂️ Question, ✨ Feature, 🖼 UI, 🫶🏻 ASAP, 🐻 브라운

#72 [ADD] 나의 뉴스 서랍에서 collectionview를 클릭하면 나오는 POP UP 뷰를 구현했습니다.
  EarthValley80/EarthValley80.xcodeproj/project.pbxproj
  EarthValley80/EarthValley80/Global/Literals/StringLiteral.swift
  EarthValley80/EarthValley80/Screen/MyNews/Components/SummaryPopupViewController.swift
Labels: 🖼 UI, 🫶🏻 ASAP, 🐻 브라운

#80 [ADD] 뉴스 뷰에서 필요한 이미지 에셋을 추가했습니다.
  EarthValley80/EarthValley80/Global/Literals/ImageLiteral.swift
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/btn_home.imageset/Contents.json
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/btn_home.imageset/btn_home.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/btn_home.imageset/btn_home@2x.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/btn_home.imageset/btn_home@3x.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/card_sic_L3.imageset/Contents.json
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/card_sic_L3.imageset/card_sic_L3.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/card_sic_L3.imageset/card_sic_L3@2x.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/card_sic_L3.imageset/card_sic_L3@3x.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/ico_check.imageset/Contents.json
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/ico_check.imageset/ico_check.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/ico_check.imageset/ico_check@2x.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/ico_check.imageset/ico_check@3x.png
  EarthValley80/EarthValley80/Screen/News/Components/BackButton.swift
  EarthValley80/EarthValley80/Screen/News/FiveWsAndOneHViewController.swift
  EarthValley80/EarthValley80/Screen/News/ReadingNewsViewController.swift
  EarthValley80/EarthValley80/Screen/News/TitleInferringViewController.swift
Labels: 🖼 UI, 🫶🏻 ASAP, ▪️ News, 🍋 듀나

#78 [FEAT] 육하원칙 답변을 상단 Collection View에 넣는 기능을 구현했습니다.
  .github/workflows/builder.yml
  EarthValley80/EarthValley80.xcodeproj/project.pbxproj
  EarthValley80/EarthValley80/Global/Literals/StringLiteral.swift
  EarthValley80/EarthValley80/Screen/News/Cells/AnswerCollectionViewCell.swift
  EarthValley80/EarthValley80/Screen/News/Components/QuestionTitleStackView.swift
  EarthValley80/EarthValley80/Screen/News/Components/QuestionView.swift
  EarthValley80/EarthValley80/Screen/News/FiveWsAndOneHViewController.swift
Labels: ✨ Feature, 🫶🏻 ASAP, ▪️ News, 🍋 듀나

#82 [FEAT] 요약하기 뷰 전에 나타나는 키워드 완성 뷰를 구현했습니다.
  EarthValley80/EarthValley80.xcodeproj/project.pbxproj
  EarthValley80/EarthValley80/Global/Literals/StringLiteral.swift
  EarthValley80/EarthValley80/Screen/MyNews/Helper/LeftAlignCollectionViewFlowLayout.swift
  EarthValley80/EarthValley80/Screen/News/Cells/AnswerCollectionViewCell.swift
  EarthValley80/EarthValley80/Screen/News/Components/QuestionTitleStackView.swift
  EarthValley80/EarthValley80/Screen/News/Components/QuestionView.swift
  EarthValley80/EarthValley80/Screen/News/FiveWsAndOneHViewController.swift
Labels: ✨ Feature, 🖼 UI, 🫶🏻 ASAP, ▪️ News, 🍋 듀나

#84 [FEAT] 요약하기 뷰로 이동 및 내부에서 텍스트 작성했을 때 다음으로 버튼 활성화되도록 구현했습니다.
  EarthValley80/EarthValley80/Global/Literals/StringLiteral.swift
  EarthValley80/EarthValley80/Screen/News/Components/QuestionView.swift
  EarthValley80/EarthValley80/Screen/News/FiveWsAndOneHViewController.swift
Labels: ✨ Feature, 🖼 UI, 🫶🏻 ASAP, ▪️ News, 🍋 듀나

#86 [ADD] 요약 완료 뷰 레이아웃 및 완료가 나오는 플로우를 구현했습니다.
  EarthValley80/EarthValley80.xcodeproj/project.pbxproj
  EarthValley80/EarthValley80/Global/Literals/StringLiteral.swift
  EarthValley80/EarthValley80/Screen/News/Components/NewsFlowCompleteView.swift
  EarthValley80/EarthValley80/Screen/News/Components/QuestionView.swift
  EarthValley80/EarthValley80/Screen/News/FiveWsAndOneHViewController.swift
Labels: 🖼 UI, 🫶🏻 ASAP, ▪️ News, 🍋 듀나

#91 [FEAT] 텍스트 뷰를 눌렀을 때 키보드에 가려지지 않게 길이가 줄어들고 다시 원상태로 돌아오는 부분을 구현했습니다.
  EarthValley80/EarthValley80/Screen/News/Components/QuestionView.swift
Labels: ✨ Feature, 🖼 UI, 🫶🏻 ASAP, ▪️ News, 🍋 듀나

#92 [ADD] 뉴스 뷰에 있는 로티 뷰에 들어가는 이미지를 적용했습니다.
  EarthValley80/EarthValley80/Global/Literals/ImageLiteral.swift
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/img_clap.imageset/Contents.json
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/img_clap.imageset/img_clap.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/img_clap.imageset/img_clap@2x.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/img_clap.imageset/img_clap@3x.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/img_congrat.imageset/Contents.json
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/img_congrat.imageset/img_congrat.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/img_congrat.imageset/img_congrat@2x.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/img_congrat.imageset/img_congrat@3x.png
  EarthValley80/EarthValley80/Screen/News/Components/GuidingView.swift
  EarthValley80/EarthValley80/Screen/News/Components/NewsFlowCompleteView.swift
Labels: 🖼 UI, 🫶🏻 ASAP, ▪️ News, 🍋 듀나

#102 [FEAT] 요모조모 뉴스 뷰에서 카테고리별로 이미지 그라데이션이 바뀌는 UI를 구현했습니다.
  EarthValley80/EarthValley80/Network/Model/News.swift
  EarthValley80/EarthValley80/Screen/YomojomoNews/Cells/YomojomoNewsTitleCollectionViewCell.swift
Labels: ✨ Feature, 🖼 UI, 🫶🏻 ASAP, ▪️ YomojomoNews, 🐻 브라운

#104 [ADD] 요모조모 뉴스 뷰에서 빈 공간이 있을 경우, lottie가 출력되도록 구현했습니다.
  EarthValley80/EarthValley80/Global/Literals/StringLiteral.swift
  EarthValley80/EarthValley80/Screen/YomojomoNews/Cells/EmptySpaceCollectionViewCell.swift
Labels: 🖼 UI, 🫶🏻 ASAP, ▪️ YomojomoNews, 🐻 브라운

#105 [FEAT] 요모조모 뉴스 뷰 글자 크기, 색상, 자간을 최종적으로 수정하였습니다.
  EarthValley80/EarthValley80/Global/Extensions/UIColor+Extension.swift
  EarthValley80/EarthValley80/Screen/YomojomoNews/Cells/YomojomoNewsTitleCollectionViewCell.swift
  EarthValley80/EarthValley80/Screen/YomojomoNews/YomojomoNewsViewController.swift
Labels: 🙋‍♂️ Question, 🖼 UI, 🫶🏻 ASAP, ▪️ YomojomoNews, 🐻 브라운

#108 [CHORE] 홈 버튼 이미지를 button configuration으로 변경했습니다.
  EarthValley80/EarthValley80/Global/Literals/ImageLiteral.swift
  EarthValley80/EarthValley80/Global/Literals/StringLiteral.swift
  EarthValley80/EarthValley80/Screen/News/Components/BackButton.swift
Labels: 🖼 UI, 🛠 Chore, 🫶🏻 ASAP, ▪️ News, 🍋 듀나

#110 [FIX] 테스트 플라이트를 올릴 때 Landscape만 설정할 수 없는 문제를 해결했습니다.
  EarthValley80/EarthValley80.xcodeproj/project.pbxproj
Labels: 🛠 Chore, ⚙ Setting, 🫶🏻 ASAP, 🍋 듀나

#111 [FEAT] 메인 화면(SideTabbarViewController)부터 뉴스 읽기 뷰까지의 전체적인 플로우 연결을 진행했습니다.
  EarthValley80/EarthValley80/Global/Literals/StringLiteral.swift
  EarthValley80/EarthValley80/Global/Resource/Storyboard/NewsFeed.storyboard
  EarthValley80/EarthValley80/Global/Supports/Info.plist
  EarthValley80/EarthValley80/Global/Supports/SceneDelegate.swift
  EarthValley80/EarthValley80/Screen/News/Components/BackButton.swift
  EarthValley80/EarthValley80/Screen/News/Components/NewsFlowCompleteView.swift
  EarthValley80/EarthValley80/Screen/YomojomoNews/YomojomoNewsViewController.swift
Labels: 🫶🏻 ASAP, ▪️ YomojomoNews, ▪️ News, 🍋 듀나

#121 [ADD] Happiness-Sans 서체 .otf 파일 추가 및 case 적용을 진행했습니다.
  EarthValley80/EarthValley80.xcodeproj/project.pbxproj
  EarthValley80/EarthValley80/Global/Extensions/UIFont+Extension.swift
  EarthValley80/EarthValley80/Global/Resource/Font/Happiness-Sans-Bold.otf
  EarthValley80/EarthValley80/Global/Resource/Font/Happiness-Sans-Regular.otf
  EarthValley80/EarthValley80/Global/Resource/Font/Happiness-Sans-Title.otf
  EarthValley80/EarthValley80/Global/Supports/Info.plist
  EarthValley80/EarthValley80/Global/UIComponent/GotoSomewhereButton.swift
  EarthValley80/EarthValley80/Screen/News/Components/GuidingView.swift
  EarthValley80/EarthValley80/Screen/News/Components/NextButton.swift
Labels: 🖼 UI, ⚙ Setting, 🫶🏻 ASAP, 🍋 듀나

#122 [ADD] 리액션을 입력하는 뷰에서의 레이아웃을 구성했습니다.
  EarthValley80/EarthValley80.xcodeproj/project.pbxproj
  EarthValley80/EarthValley80/Global/Literals/StringLiteral.swift
  EarthValley80/EarthValley80/Global/Utils/Constant+Adjusted.swift
  EarthValley80/EarthValley80/Screen/News/Components/CapsuleFormTitleView.swift
  EarthValley80/EarthValley80/Screen/News/Components/ReactionButton.swift
  EarthValley80/EarthValley80/Screen/News/Components/ReactionEmojiView.swift
  EarthValley80/EarthValley80/Screen/News/ReactionViewController.swift
Labels: ✨ Feature, 🖼 UI, 🫶🏻 ASAP, ▪️ News, 🍋 듀나

#124 [CHORE] 가이드 뷰에서 이제 필요없는 에셋, 코드를 걷어내고 새로운 레이아웃을 구성했습니다.
  EarthValley80/EarthValley80.xcodeproj/project.pbxproj
  EarthValley80/EarthValley80/Global/Literals/ImageLiteral.swift
  EarthValley80/EarthValley80/Global/Literals/StringLiteral.swift
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/btn_home.imageset/Contents.json
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/btn_home.imageset/btn_home.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/btn_home.imageset/btn_home@2x.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/btn_home.imageset/btn_home@3x.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/ico_check.imageset/Contents.json
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/ico_check.imageset/ico_check.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/ico_check.imageset/ico_check@2x.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/ico_check.imageset/ico_check@3x.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/img_clap.imageset/Contents.json
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/img_clap.imageset/img_clap.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/img_clap.imageset/img_clap@2x.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/img_clap.imageset/img_clap@3x.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/img_coach.imageset/Contents.json
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/img_coach.imageset/img_coach.pdf
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/img_coach1.imageset/Contents.json
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/img_coach1.imageset/img_coach1.pdf
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/img_coach2.imageset/Contents.json
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/img_coach2.imageset/img_coach2.pdf
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/img_congrat.imageset/Contents.json
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/img_congrat.imageset/img_congrat.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/img_congrat.imageset/img_congrat@2x.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/img_congrat.imageset/img_congrat@3x.png
  EarthValley80/EarthValley80/Screen/News/Components/GuidingView.swift
  EarthValley80/EarthValley80/Screen/News/Components/NewsFlowCompleteView.swift
  EarthValley80/EarthValley80/Screen/News/FiveWsAndOneHViewController.swift
  EarthValley80/EarthValley80/Screen/News/NewsGuideViewController.swift
  EarthValley80/EarthValley80/Screen/News/ReadingNewsViewController.swift
  EarthValley80/EarthValley80/Screen/News/TitleInferringViewController.swift
Labels: 🖼 UI, 🛠 Chore, 🫶🏻 ASAP, ▪️ News, 🍋 듀나

#127 [CHORE] 기사 읽기 뷰(ReadingNewsViewController)의 레이아웃을 수정했습니다.
  EarthValley80/EarthValley80.xcodeproj/project.pbxproj
  EarthValley80/EarthValley80/Global/Literals/StringLiteral.swift
  EarthValley80/EarthValley80/Screen/News/Cells/NewsContentTableViewCell.swift
  EarthValley80/EarthValley80/Screen/News/Components/BlurredLabel.swift
  EarthValley80/EarthValley80/Screen/News/Components/NewsTitleView.swift
  EarthValley80/EarthValley80/Screen/News/ReadingNewsViewController.swift
  EarthValley80/EarthValley80/Screen/News/TitleInferringViewController.swift
  EarthValley80/EarthValley80/Screen/YomojomoNews/YomojomoNewsViewController.swift
Labels: 🖼 UI, 🛠 Chore, 🫶🏻 ASAP, ▪️ News, 🍋 듀나

#129 [ADD] 요약 하기 뷰(SummaryViewController)의 레이아웃을 구성했습니다.
  EarthValley80/EarthValley80.xcodeproj/project.pbxproj
  EarthValley80/EarthValley80/Global/Extensions/UIViewController+Extension.swift
  EarthValley80/EarthValley80/Global/Literals/StringLiteral.swift
  EarthValley80/EarthValley80/Screen/News/Components/SummaryTextView.swift
  EarthValley80/EarthValley80/Screen/News/SummaryViewController.swift
Labels: 🖼 UI, 🆘 Help, 🫶🏻 ASAP, ▪️ News, 🍋 듀나

#117 [FEAT] 공통으로 사용되는 GotoSomewhereButton의 UI를 변경했습니다.
  EarthValley80/EarthValley80/Global/Extensions/UIView+Extension.swift
  EarthValley80/EarthValley80/Global/Literals/StringLiteral.swift
  EarthValley80/EarthValley80/Global/UIComponent/GotoSomewhereButton.swift
  EarthValley80/EarthValley80/Global/UIComponent/GotoYomojomoNewsEmptyView.swift
Labels: 🙋‍♂️ Question, 🖼 UI, ▪️ YomojomoNews, ▪️ News, 🐻 브라운, ▪️ My News

#135 [ADD] 중심 문장을 받는 MainSentenceView 내부 Component들을 구성했습니다.
  EarthValley80/EarthValley80.xcodeproj/project.pbxproj
  EarthValley80/EarthValley80/Screen/News/Cells/MainSentenceTableViewCell.swift
  EarthValley80/EarthValley80/Screen/News/Components/MainSentenceView.swift
Labels: ✨ Feature, 🖼 UI, 🫶🏻 ASAP, ▪️ News, 🍋 듀나

#137 [ADD] 내가 찾은 중심문장 뷰(MyMainSentenceViewController) 레이아웃을 구성했습니다.
  EarthValley80/EarthValley80.xcodeproj/project.pbxproj
  EarthValley80/EarthValley80/Global/Literals/StringLiteral.swift
  EarthValley80/EarthValley80/Screen/News/Components/MainSentenceView.swift
  EarthValley80/EarthValley80/Screen/News/MainSentenceViewController.swift
  EarthValley80/EarthValley80/Screen/News/MyMainSentenceViewController.swift
  EarthValley80/EarthValley80/Screen/News/SummaryViewController.swift
Labels: ✨ Feature, 🖼 UI, 🫶🏻 ASAP, ▪️ News, 🍋 듀나

#139 [ADD] 요약 완성 뷰(SummaryCompletionViewController) 레이아웃을 구성했습니다.
  EarthValley80/EarthValley80.xcodeproj/project.pbxproj
  EarthValley80/EarthValley80/Global/Literals/StringLiteral.swift
  EarthValley80/EarthValley80/Screen/News/SummaryCompletionViewController.swift
Labels: ✨ Feature, 🖼 UI, 🫶🏻 ASAP, ▪️ News, 🍋 듀나

#133 [CHORE] Sidebar에서 원하는 ContainerView를 불러옵니다.
  EarthValley80/EarthValley80.xcodeproj/project.pbxproj
  EarthValley80/EarthValley80/Global/Literals/ImageLiteral.swift
  EarthValley80/EarthValley80/Global/Literals/StringLiteral.swift
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/yomojomoLogo.imageset/Contents.json
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/yomojomoLogo.imageset/yomojomoLogo.svg
  EarthValley80/EarthValley80/Global/Resource/Lottie/yomoProfileLottie.json
  EarthValley80/EarthValley80/Screen/SideTabbar/Components/InsideTabbarItemsView.swift
  EarthValley80/EarthValley80/Screen/SideTabbar/Components/SideTabbarView.swift
  EarthValley80/EarthValley80/Screen/SideTabbar/Components/TabbarButtonView.swift
  EarthValley80/EarthValley80/Screen/SideTabbar/ContainerViewController.swift
  EarthValley80/EarthValley80/Screen/SideTabbar/Manager/SideTabbarEventManager.swift
  EarthValley80/EarthValley80/Screen/SideTabbar/SideTabbarViewController.swift
Labels: ✨ Feature, 🦭 잭, ▪️ Sidebar

#144 [ADD] 요모조모 뉴스 뷰에서 새로 바뀐 레이아웃을 변경해서 구현했습니다.
  EarthValley80/EarthValley80.xcodeproj/project.pbxproj
  EarthValley80/EarthValley80/Global/Literals/StringLiteral.swift
  EarthValley80/EarthValley80/Global/UIComponent/MainTitleView.swift
  EarthValley80/EarthValley80/Screen/YomojomoNews/Cells/EmptySpaceCollectionViewCell.swift
  EarthValley80/EarthValley80/Screen/YomojomoNews/Cells/ThisWeekNewsCollectionViewCell.swift
  EarthValley80/EarthValley80/Screen/YomojomoNews/Cells/YomojomoNewsCollectionViewCell.swift
  EarthValley80/EarthValley80/Screen/YomojomoNews/YomojomoNewsViewController.swift
Labels: 🖼 UI, 🫶🏻 ASAP, ▪️ YomojomoNews, 🐻 브라운

#146 [ADD] 사진 보고 유추하는 view의 UI를 구현했습니다. (NieGuessingViewController)
  EarthValley80/EarthValley80.xcodeproj/project.pbxproj
  EarthValley80/EarthValley80/Global/Literals/StringLiteral.swift
  EarthValley80/EarthValley80/Screen/YomojomoNews/NieGuessingViewController.swift
Labels: 🖼 UI, 🫶🏻 ASAP, ▪️ YomojomoNews, 🐻 브라운

#150 [FEAT] 중심 문장 뷰에서 중심 문장을 선택하는 기능을 구현했습니다.
  EarthValley80/EarthValley80/Global/Extensions/UILabel+Extension.swift
  EarthValley80/EarthValley80/Screen/News/Cells/MainContentParagraphTableViewCell.swift
  EarthValley80/EarthValley80/Screen/News/Components/MainSentenceView.swift
  EarthValley80/EarthValley80/Screen/News/MainSentenceViewController.swift
Labels: ✨ Feature, 🖼 UI, 🫶🏻 ASAP, ▪️ News, 🍋 듀나

#156 [FEAT] News 뷰 전체 플로우를 연결했습니다.
  EarthValley80/EarthValley80/Global/Literals/ImageLiteral.swift
  EarthValley80/EarthValley80/Global/Literals/StringLiteral.swift
  EarthValley80/EarthValley80/Global/Supports/SceneDelegate.swift
  EarthValley80/EarthValley80/Screen/News/Components/MainSentenceView.swift
  EarthValley80/EarthValley80/Screen/News/Components/SummaryTextView.swift
  EarthValley80/EarthValley80/Screen/News/MainSentenceViewController.swift
  EarthValley80/EarthValley80/Screen/News/ReactionViewController.swift
  EarthValley80/EarthValley80/Screen/News/ReadingNewsViewController.swift
  EarthValley80/EarthValley80/Screen/News/SummaryCompletionViewController.swift
  EarthValley80/EarthValley80/Screen/News/SummaryViewController.swift
  EarthValley80/EarthValley80/Screen/SideTabbar/SideTabbarViewController.swift
  EarthValley80/EarthValley80/Screen/YomojomoNews/YomojomoNewsViewController.swift
Labels: ✨ Feature, 🫶🏻 ASAP, ▪️ News, 🍋 듀나

#158 [ADD] News 뷰 내부에 에셋을 추가하고 적용했습니다.
  EarthValley80/EarthValley80/Global/Literals/ImageLiteral.swift
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/btn_afterReaction.imageset/Contents.json
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/btn_afterReaction.imageset/btn_afterReaction.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/btn_afterReaction.imageset/btn_afterReaction@2x.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/btn_afterReaction.imageset/btn_afterReaction@3x.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/btn_beforeReaction.imageset/Contents.json
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/btn_beforeReaction.imageset/btn_beforeReaction.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/btn_beforeReaction.imageset/btn_beforeReaction@2x.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/btn_beforeReaction.imageset/btn_beforeReaction@3x.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/btn_myMainSentence.imageset/Contents.json
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/btn_myMainSentence.imageset/btn_myMainSentence.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/btn_myMainSentence.imageset/btn_myMainSentence@2x.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/btn_myMainSentence.imageset/btn_myMainSentence@3x.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/ico_angry.imageset/Contents.json
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/ico_angry.imageset/ico_angry.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/ico_angry.imageset/ico_angry@2x.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/ico_angry.imageset/ico_angry@3x.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/ico_excited.imageset/Contents.json
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/ico_excited.imageset/ico_excited.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/ico_excited.imageset/ico_excited@2x.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/ico_excited.imageset/ico_excited@3x.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/ico_fun.imageset/Contents.json
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/ico_fun.imageset/ico_fun.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/ico_fun.imageset/ico_fun@2x.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/ico_fun.imageset/ico_fun@3x.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/ico_sad.imageset/Contents.json
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/ico_sad.imageset/ico_sad.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/ico_sad.imageset/ico_sad@2x.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/ico_sad.imageset/ico_sad@3x.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/ico_scary.imageset/Contents.json
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/ico_scary.imageset/ico_scary.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/ico_scary.imageset/ico_scary@2x.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/ico_scary.imageset/ico_scary@3x.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/img_congrate.imageset/Contents.json
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/img_congrate.imageset/img_congrate.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/img_congrate.imageset/img_congrate@2x.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/img_congrate.imageset/img_congrate@3x.png
  EarthValley80/EarthValley80/Screen/News/Components/ReactionButton.swift
  EarthValley80/EarthValley80/Screen/News/MyMainSentenceViewController.swift
  EarthValley80/EarthValley80/Screen/News/SummaryCompletionViewController.swift
  EarthValley80/EarthValley80/Screen/News/SummaryViewController.swift
Labels: 🖼 UI, 🫶🏻 ASAP, ▪️ News, 🍋 듀나

#160 [ADD] News 더미 데이터 셋을 생성했습니다.
  EarthValley80/EarthValley80/Global/Literals/ImageLiteral.swift
  EarthValley80/EarthValley80/Global/Manager/NewsSortingManager.swift
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/img_eco1.imageset/Contents.json
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/img_eco1.imageset/img_eco1.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/img_eco1.imageset/img_eco1@2x.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/img_eco1.imageset/img_eco1@3x.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/img_eco2.imageset/Contents.json
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/img_eco2.imageset/img_eco2.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/img_eco2.imageset/img_eco2@2x.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/img_eco2.imageset/img_eco2@3x.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/img_munhwa1.imageset/Contents.json
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/img_munhwa1.imageset/img_munhwa1.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/img_munhwa1.imageset/img_munhwa1@2x.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/img_munhwa1.imageset/img_munhwa1@3x.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/img_munhwa2.imageset/Contents.json
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/img_munhwa2.imageset/img_munhwa2.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/img_munhwa2.imageset/img_munhwa2@2x.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/img_munhwa2.imageset/img_munhwa2@3x.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/img_sci1.imageset/Contents.json
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/img_sci1.imageset/img_sci1.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/img_sci1.imageset/img_sci1@2x.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/img_sci1.imageset/img_sci1@3x.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/img_sci2.imageset/Contents.json
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/img_sci2.imageset/img_sci2.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/img_sci2.imageset/img_sci2@2x.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/img_sci2.imageset/img_sci2@3x.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/img_sisa1.imageset/Contents.json
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/img_sisa1.imageset/img_sisa1.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/img_sisa1.imageset/img_sisa1@2x.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/img_sisa1.imageset/img_sisa1@3x.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/img_sisa2.imageset/Contents.json
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/img_sisa2.imageset/img_sisa2.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/img_sisa2.imageset/img_sisa2@2x.png
  EarthValley80/EarthValley80/Global/Resource/Assets.xcassets/img_sisa2.imageset/img_sisa2@3x.png
  EarthValley80/EarthValley80/Network/Model/News.swift
  EarthValley80/EarthValley80/Screen/YomojomoNews/Cells/YomojomoNewsCollectionViewCell.swift
Labels: 🫶🏻 ASAP, ▪️ YomojomoNews, ▪️ News, 🍋 듀나, ▪️ My News

#163 [FEAT] 요모조모 뉴스 부분에서 기사를 눌렀을 때 News 뷰로 데이터가 이어지는 플로우를 구현했습니다.
  EarthValley80/EarthValley80.xcodeproj/project.pbxproj
  EarthValley80/EarthValley80/Screen/News/Cells/NewsContentTableViewCell.swift
  EarthValley80/EarthValley80/Screen/News/Components/MainSentenceView.swift
  EarthValley80/EarthValley80/Screen/News/Components/NewsTitleView.swift
  EarthValley80/EarthValley80/Screen/News/MainSentenceViewController.swift
  EarthValley80/EarthValley80/Screen/News/Manager/NewsManager.swift
  EarthValley80/EarthValley80/Screen/News/MyMainSentenceViewController.swift
  EarthValley80/EarthValley80/Screen/News/ReactionViewController.swift
  EarthValley80/EarthValley80/Screen/News/SummaryCompletionViewController.swift
  EarthValley80/EarthValley80/Screen/News/SummaryViewController.swift
  EarthValley80/EarthValley80/Screen/YomojomoNews/YomojomoNewsViewController.swift
Labels: ✨ Feature, 🫶🏻 ASAP, ▪️ News, 🍋 듀나

#167 [CHORE] 요모조모 뉴스 화면에서 기사를 누르면 NIE Guessing 하는 화면으로 이동하도록 플로우를 변경합니다.
  EarthValley80/EarthValley80/Global/Literals/StringLiteral.swift
  EarthValley80/EarthValley80/Screen/News/Manager/NewsManager.swift
  EarthValley80/EarthValley80/Screen/SideTabbar/SideTabbarViewController.swift
  EarthValley80/EarthValley80/Screen/YomojomoNews/NieGuessingViewController.swift
  EarthValley80/EarthValley80/Screen/YomojomoNews/YomojomoNewsViewController.swift
Labels: 🫶🏻 ASAP, ▪️ News, 🍋 듀나
